
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
.container {
  
  max-width: 1950px;
  margin:0 auto;
 
}
p {
	font-size: 3.6rem;
}
h2 {
	font-size: 1.6rem;
}

.box1 {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 200px;
  background: lavender;
  
  }
  .box1 h1 {
    font-size: 5rem;
    color: darkred;
  }

.box2 {
  display: flex;
  justify-content: space-around;
  background: lavender;
  
  height: 200px;
  

}
.box2 a{
  font-size: 2rem;
  color: blue;
}



.box3 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  color: darkred;
  height: 200px;
  padding: 1rem;
  background:lavender;

}
.box3 h2{
  font-size: 1.6rem;
}

.box4 {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  height: 250px;
  background:lavender;
  font-size: 2rem;
  
 }
.box4 a{
  color: blue;
}

.box5 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 90px;
  background:lavender;
}



  

  

footer {
  width: 12%;
  padding: 1rem;
  background: lavender;
  color: darkred;
}

.logo{
  width: 20%;
  
}
